<div class="flex justify-center pt-5">
  <div
    class="grid lg:grid-cols-2 grid-col-1 bg-quatenaryColor w-full rounded-b-sm rounded-tr-sm h-40 lg:h-auto"
  >
    <div
      class="grid grid-col-4 bg-lightColor rounded-bl-lg rounded-tr-lg justify-center content-center"
    >
      <div>
        <h1 class="text-md font-bold text-primaryColor break-all">
          Hello, {{ userName }}
        </h1>
        <p class="text-xsm text-primaryColor" *ngIf="unfinishedTasks">
          you have {{ unfinishedTasks }} unfinished tasks
        </p>
      </div>
    </div>
    <div class="grid grid-cols-3 flex items-center hidden lg:flex">
      <img src="./assets/images/note.png " class="xl:-ml-30 -ml-24 w-1/4" />
      <p
        class="text-sm text-lightPrimaryColor font-bold col-span-2 mr-20 leading-10"
      >
        All our dreams can come true, if we have the courage to pursue them.
      </p>
    </div>
  </div>
</div>
