<div class="flex flex-col items-center h-screen">
  <div class="w-11/12">
    <app-header></app-header>

    <div class="grid sm:grid-cols-1 lg:grid-cols-2 mt-10 mb-0">
      <div>
        <app-calender></app-calender>
        <div class="mt-14 flex justify-center">
          <app-today-tasks
            class="w-full"
            (selectedTask)="onTaskSelected($event)"
          ></app-today-tasks>
        </div>
      </div>
      <div>
        <app-create-task [editTask]="task" [index]="index"></app-create-task>
      </div>
    </div>
  </div>
</div>
