<div class="bg-mainTodo-50 h-screen grid grid-cols-1 md:grid-cols-2">
  <div class="bg-mainTodo-800 login-div-parent">
    <div
      class="bg-mainTodo-100 flex flex-col justify-center items-center login-div h-screen md:mr-8"
    >
      <h1 class="text-mainTodo-10 text-5xl font-bold py-6 text-center">
        We Are <br />
        What We Do
      </h1>

      <h1 class="text-mainTodo-200 text text-3xl text-center">
        Todo helps you remember <br />
        your important tasks
      </h1>

      <button
        type="button"
        (click)="onAuth()"
        class="bg-mainTodo-300 hover:bg-mainTodo-900 transition-all ease-in text-xl text-white font-bold py-2 px-20 rounded my-8"
      >
        Get Started
      </button>
      <!-- <button
        type="button"
        (click)="logout()"
        class="bg-mainTodo-300 hover:bg-mainTodo-900 transition-all ease-in text-xl text-white font-bold py-2 px-20 rounded my-8"
      >
        Logout
      </button> -->
    </div>
  </div>
  <div class="bg-mainTodo-50 md:flex justify-center items-center hidden">
    <img src="../../../assets/Group 1.svg" alt="" />
  </div>
</div>
