<div
  class="bg-quatenaryColor h-full grid grid-cols-1 md:grid-cols-2 sign-in-container"
>
  <div class="bg-cardBackgroundColor login-div-parent">
    <div
      class="bg-lightColor flex flex-col justify-center items-center login-div h-full md:mr-8"
    >
      <h1 class="text-primaryColor text-5xl font-bold py-6 text-center">
        We Are <br />
        What We Do
      </h1>

      <h1 class="text-primaryColor text-3xl text-center">
        Todo helps you remember <br />
        your important tasks
      </h1>

      <button
        type="button"
        (click)="onAuth()"
        class="bg-secondaryColor hover:bg-lightSecondaryColor transition-all ease-in text-xl text-lightColor font-bold py-2 px-20 rounded-2xl my-8"
      >
        Get Started
      </button>
    </div>
  </div>
  <div
    class="bg-mainTodo-50 md:flex flex-col justify-center items-center hidden"
  >
    <app-sign-in-svg></app-sign-in-svg>
  </div>
</div>
