<div class="flex flex-col justify-between items-center error-container">
  <div class="flex items-center justify-center h-40 mt-24">
    <img src="../../../assets/Group 111.png" alt="" class="h-32" />
  </div>
  <div class="flex flex-col h-full justify-center items-center">
    <h1 class="text-8xl text-mainTodo-200 font-bold">OOPS!</h1>
    <h1 class="text-3xl text-mainTodo-200 py-4 font-bold">
      404 - Page Not Found
    </h1>
    <p class="text-black font-bold">
      The page you are looking for might have been removed <br />
      or had its name changed or is temporarily unavailable.
    </p>
    <button
      type="button"
      routerLink="/"
      class="bg-mainTodo-300 hover:bg-mainTodo-900 transition-all ease-in text-xl text-white font-bold py-4 px-20 rounded-xl my-8"
    >
      Go To Home Page
    </button>
  </div>
  <div class="">
    <img class="h-48" src="../../../assets/Vector.png" alt="" />
  </div>
</div>
