<div class="w-full flex justify-between mb-6">

    <h1 class="text-xmd ml-5 text-textPrimaryColor">{{taskInfo}}</h1>
    <div>
        
        <button>

            <div class="bg-cardBackgroundColor h-16 w-16 rounded-lg flex justify-center items-center " (click)="openFilter()">
               <span class="material-icons text-xmd text-primaryColor">filter_list</span>
            </div>
         
        </button>
        
        <div class="flex flex-col justify-center items-center absolute -ml-60 lg:-ml-32 w-80 h-80 bg-lightColor  mt-5 rounded-sm shadow-lg" *ngIf="isOpen">
            <button class="button-style {{activeButton===2?'both':''}} hover:bg-TextBoldColor hover:text-white" (click)="filtter(true)">Show Finished Tasks</button>
            <button class="button-style {{activeButton===1?'both':''}} hover:bg-TextBoldColor hover:text-white" (click)="filtter(false)">Show UnFinished Tasks</button>
            <button class="button-style {{activeButton===0?'both':''}} hover:bg-TextBoldColor hover:text-white  " (click)="both()">Show Both </button>
    
        </div>
    </div>
</div>
<div class="mt-5">
    <app-task  *ngFor="let task of tasks ; let i=index;" [task]='task' [index]='i' (editEvent)="addEdit(task)"></app-task>
    <div *ngIf="CheckTask && isLoading===false"  class="w-full h-60 bg-calenderBackgroundColor rounded-sm flex justify-center items-center">
        <h1 class="text-md text-primaryColor">You dont have any Task this Day</h1>
    </div>
    <div class=" flex justify-center mt-3"  >
        <div *ngIf="isLoading" class="lds-dual-ring">
          
        </div>

    </div>
    <div *ngIf="errorOccur"  class="w-full h-60  rounded-sm flex justify-center items-center errordiv">
        <h1 class="text-md ">an error occured</h1>
    </div>
</div>

