<button
  [class.justify-center]="isLoading"
  class="h-16 w-full bg-cardBackgroundColor rounded-xsm flex items-center mb-3"
  (click)="editTask()"
>
  <div *ngIf="isLoading" class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div
    class="w-10 h-10 ml-5 rounded-sm border-solid border-2 border-primaryColor"
    *ngIf="!task?.isComplete && !isLoading"
    (click)="complete()"
  ></div>
  <div
    class="w-10 h-10 ml-5 rounded-sm bg-lightPrimaryColor flex justify-center items-center"
    *ngIf="task?.isComplete && !isLoading"
    (click)="complete()"
  >
    <span class="material-icons text-md text-white">check</span>
  </div>
  <h1
    *ngIf="!isLoading"
    class="text-md ml-10 {{
      task?.isComplete
        ? 'text-lightPrimaryColor line-through '
        : 'text-primaryColor'
    }}  "
  >
    {{ task?.title }}
  </h1>
</button>
