<button class="h-16 w-full bg-cardBackgroundColor rounded-xsm flex items-center mb-3" (click)="editTask()">
    <div class="w-10 h-10  ml-5 rounded-sm border-solid border-2 border-primaryColor "*ngIf="!task.isComplete" (click)="complete()">
  
    </div>
    <div class="w-10 h-10  ml-5 rounded-sm  bg-lightPrimaryColor " *ngIf="task.isComplete" (click)="complete()">
  
  </div>
    <h1 class="text-md ml-10 {{task.isComplete?'text-lightPrimaryColor line-through ':'text-primaryColor'}}  " >{{task.title}}</h1>
   
</button>
 