<div class="bg-backgroundColor p-7">
  <div
    class="grid grid-cols-1 md:grid-cols-2 justify-center gap-10 items-center w-full h-full bg-cardBackgroundColor profile-container rounded-xl p-2 md:p-0 md:pr-6"
  >
    <div
      class="flex flex-col justify-evenly gap-3 h-full profile-left-container rounded-3xl bg-quatenaryColor py-12 px-8"
    >
      <h1 class="text-4xl font-bold text-primaryColor">
        Hello, {{ user?.name ? user?.name : "" }}
      </h1>
      <div
        class="flex flex-col gap-3 py-7 justify-between items-center bg-cardBackgroundColor rounded-3xl"
      >
        <button
          *ngIf="!editMode"
          type="button"
          (click)="onEdit()"
          class="flex items-center justify-end w-full py-3 pr-7"
        >
          <span class="material-icons-outlined">edit</span>
        </button>

        <div
          *ngIf="editMode"
          type="button"
          class="flex items-center justify-between w-full px-7"
        >
          <button
            (click)="onEdit()"
            class="bg-quatenaryColor text-black px-8 py-3 rounded-full"
          >
            Cancel
          </button>
          <button
            class="bg-primaryColor text-lightColor px-8 py-3 rounded-full"
          >
            Save
          </button>
        </div>
        <img
          class="inline object-cover w-16 h-16 mr-2 rounded-full"
          src="https://images.pexels.com/photos/2589653/pexels-photo-2589653.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          alt="Profile image"
        />
        <h1 class="text-2xl font-bold">{{ user?.name ? user?.name : "" }}</h1>
        <h1 class="text-xl font-bold">
          {{ user?.nickname ? user?.nickname : "" }}
        </h1>
        <p class="text-center text-textPrimaryColor">
          Lorem ipsum dolor sit amet, consectetur <br />
          adipiscing elit. Ornare pretium placerat ut platea.
        </p>
      </div>
      <div
        class="flex flex-col justify-between items-center bg-cardBackgroundColor rounded-3xl py-5"
      >
        <div class="flex items-start w-10/12">
          <h1 class="text-2xl font-bold text-black">Personal Information</h1>
        </div>

        <h1
          class="text-xl font-bold bg-quatenaryColor w-11/12 py-4 pl-5 m-4 rounded-3xl"
        >
          {{ user?.name ? user?.name : "" }}
        </h1>
        <h1
          class="text-xl font-bold bg-quatenaryColor w-11/12 py-4 pl-5 m-4 rounded-3xl"
        >
          {{ user?.email ?? "" }}
        </h1>
      </div>
    </div>
    <div class="flex flex-col justify-center bg-white rounded-3xl py-8">
      <div class="flex justify-between items-center px-10 py-3">
        <h1 class="font-bold text-black text-2xl">Tasks</h1>
        <button type="button">
          <span class="material-icons text-3xl">delete_outline</span>
        </button>
      </div>
      <div class="flex flex-col justify-center items-center my-2 gap-2">
        <div

          *ngFor="let todo of prevTodos"
          class="flex items-center gap-4 bg-quatenaryColor py-4 w-11/12 rounded-full px-4"

        >
          <span
            class="material-icons text-lightColor bg-primaryColor rounded-full p-1"
            >done</span
          >

          <span
            [ngClass]="{ 'line-through': todo.isComplete }"
            class="font-bold text-xl"
            >{{ todo.title }}</span
          >
        </div>
      
       
      </div>
    </div>
  </div>
</div>
