<div class="bg-backgroundColor p-7">
  <div
    class="grid grid-cols-1 md:grid-cols-2 justify-center gap-10 items-center w-full h-full bg-cardBackgroundColor profile-container rounded-xl p-2 md:p-0 md:pr-6"
  >
    <div
      class="flex flex-col justify-evenly gap-3 h-full profile-left-container rounded-3xl bg-quatenaryColor py-12 px-8"
    >
      <h1 class="text-4xl font-bold text-primaryColor">
        Hello
        <ng-container *ngIf="user?.name"
          >, {{ user?.name ? user?.name : "" }}</ng-container
        >
      </h1>
      <div
        class="flex flex-col gap-3 py-7 justify-between items-center bg-cardBackgroundColor rounded-3xl"
      >
        

        
        <img
          *ngIf="!editMode"
          class="inline object-cover w-16 h-16 mr-2 rounded-full"
          src="{{ user?.picture }}"
          alt="Profile image"
        />

        <h1 *ngIf="!editMode" class="text-2xl font-bold">
          {{ user?.name ? user?.name : "" }}
        </h1>
        <h1 *ngIf="!editMode" class="text-lg font-bold">

          {{ user?.nickname ? user?.nickname : "" }}
        </h1>
      </div>
      <div
        class="flex flex-col justify-between items-center bg-cardBackgroundColor rounded-3xl py-5"
      >
        <div class="flex items-start w-10/12">
          <h1 class="text-2xl font-bold text-black">Personal Information</h1>
        </div>

        <h1
          class="text-xl font-bold bg-quatenaryColor w-11/12 py-4 pl-5 m-4 rounded-3xl"
        >
          {{ user?.name ? user?.name : " " }}
        </h1>
        <h1
          class="text-xl font-bold bg-quatenaryColor w-11/12 py-4 pl-5 m-4 rounded-3xl"
        >
          {{ user?.email ?? "" }}
        </h1>
      </div>
    </div>
    <div class="flex flex-col justify-center bg-white rounded-3xl py-8">
      <div class="flex justify-between items-center px-10 py-3">
        <h1 class="font-bold text-black text-2xl">Tasks</h1>
        
      </div>
      <div class="flex flex-col justify-center items-center my-2 gap-2">
        <div
          *ngIf="prevTodos?.length === 0"
          class="flex items-center gap-4 bg-mainTodo-400 py-4 w-11/12 rounded-full px-4 font-bold text-xl"
        >
          <h1>No Previously Added Todos</h1>
        </div>
        <div
          *ngFor="let todo of prevTodos"
          class="flex items-center gap-4 bg-mainTodo-400 py-4 w-11/12 rounded-full px-4 font-bold text-xl"
        >
          

      
          <span
            [ngClass]="{ 'line-through': todo.isComplete }"
            class="font-bold text-xl"
            >{{ todo.title }}</span
          >


          {{ todo }}

        </div>
      </div>
    </div>
  </div>
</div>
