<div class="bg-white p-7 animate__animated animate__fadeIn animate__delay-1s">
  <div
    class="grid grid-cols-1 md:grid-cols-2 justify-center gap-10 items-center w-full h-full bg-mainTodo-400 profile-container rounded-lg p-2 md:p-0 md:pr-6"
  >
    <div
      class="flex flex-col justify-evenly gap-3 h-full profile-left-container rounded-3xl bg-mainTodo-100 py-12 px-8"
    >
      <h1 class="text-4xl font-bold text-mainTodo-200">
        Hello, {{ user?.name ? user?.name : "" }}
      </h1>
      <div
        class="flex flex-col gap-3 py-7 justify-between items-center bg-mainTodo-400 rounded-3xl"
      >
        <div
          *ngIf="!editMode"
          type="button"
          class="flex items-center justify-end w-full py-3 pr-7"
        >
          <span
            (click)="onEdit()"
            class="material-icons-outlined cursor-pointer"
            >edit</span
          >
        </div>

        <form
          *ngIf="profileFrom"
          [formGroup]="profileFrom"
          (ngSubmit)="onSubmit()"
          class="flex flex-col items-center justify-center gap-3 w-full"
        >
          <div
            *ngIf="editMode"
            type="button"
            class="flex items-center justify-between w-full px-7"
          >
            <button
              (click)="onEdit()"
              class="bg-mainTodo-600 text-black px-8 py-3 rounded-full"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="bg-mainTodo-200 text-mainTodo-50 px-8 py-3 rounded-full"
              [disabled]="!profileFrom.valid"
            >
              Save
            </button>
          </div>
          <input
            *ngIf="editMode"
            class="bg-mainTodo-100 appearance-none border-2 rounded-2xl border-gray-200 w-1/2 py-2 px-4 text-mainTodo-200 leading-tight focus:outline-none focus:bg-mainTodo-100 focus:border-purple-500"
            id="name"
            type="text"
            formControlName="name"
          />

          <input
            *ngIf="editMode"
            class="bg-mainTodo-100 appearance-none border-2 rounded-2xl border-gray-200 w-1/2 py-2 px-4 text-mainTodo-200 leading-tight focus:outline-none focus:bg-mainTodo-100 focus:border-purple-500"
            id="nickname"
            type="text"
            formControlName="nickname"
          />
        </form>
        <img
          *ngIf="!editMode"
          class="inline object-cover w-16 h-16 mr-2 rounded-full"
          src="{{ user?.picture }}"
          alt="Profile image"
        />
        <h1 *ngIf="!editMode" class="text-2xl font-bold">
          {{ user?.name ? user?.name : "" }}
        </h1>
        <h1 *ngIf="!editMode" class="text-lg font-bold">
          {{ user?.nickname ? user?.nickname : "" }}
        </h1>
        <p class="text-center text-mainTodo-200">
          Lorem ipsum dolor sit amet, consectetur <br />
          adipiscing elit. Ornare pretium placerat ut platea.
        </p>
      </div>
      <div
        class="flex flex-col justify-between items-center bg-mainTodo-400 rounded-3xl py-5"
      >
        <div class="flex items-start w-10/12">
          <h1 class="text-2xl font-bold text-black">Personal Information</h1>
        </div>

        <h1
          class="text-lg font-bold bg-mainTodo-100 w-11/12 py-4 pl-5 m-4 rounded-3xl"
        >
          {{ user?.name ? user?.name : " " }}
        </h1>
        <h1
          class="text-lg font-bold bg-mainTodo-100 w-11/12 py-4 pl-5 m-4 rounded-3xl"
        >
          {{ user?.email ?? "" }}
        </h1>
      </div>
    </div>
    <div class="flex flex-col justify-center bg-white rounded-3xl py-8">
      <div class="flex justify-between items-center px-10 py-3">
        <h1 class="font-bold text-black text-2xl">Previous Tasks</h1>
        <div>
          <span
            (click)="onDeleteTodos()"
            class="material-icons text-3xl cursor-pointer"
            >delete_outline</span
          >
        </div>
      </div>
      <div class="flex flex-col justify-center items-center my-2 gap-2">
        <div
          *ngIf="prevTodos?.length === 0"
          class="flex items-center gap-4 bg-mainTodo-400 py-4 w-11/12 rounded-full px-4 font-bold text-xl"
        >
          <h1>No Previously Added Todos</h1>
        </div>
        <div
          *ngFor="let todo of prevTodos"
          class="flex items-center gap-4 bg-mainTodo-400 py-4 w-11/12 rounded-full px-4 font-bold text-xl"
        >
          <span
            class="material-icons text-white bg-mainTodo-200 rounded-full p-1"
            >done</span
          >

          {{ todo }}
        </div>
      </div>
    </div>
  </div>
</div>
