@media (min-width: 768px) {
  .profile-left-container {
    border-radius: 0 12% 0 12%;
  }
}
@media only screen and (min-width: 768px) {
  .profile-container {
    height: calc(100vh - 64px);
  }
}

.tasks-container {
  max-height: calc(100vh - 20rem);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  padding: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-light-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
